{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-dark p-5 my-4 form-layout">
        <h3>Add client</h3>
        <h6>Start adding in the required details for your client</h6>
        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form|crispy}}

            <br>
            <a href="{% url 'dashboard' %}"  class="btn btn-secondary w-100 btn-block p-2">Cancel</a>
            <br>
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Add Client</button>

        </form>
    </div>

{% endblock %}