{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-dark p-3 p-md-5 mt-2 mb-4 form-layout">
        <h3>Add client</h3>
        <h6>Start adding in the required details for your client</h6>
        
        <hr>

        <form id="client-form" method="POST" autocomplete="off">

            {% csrf_token %}

            {{form.name|as_crispy_field}}
            <br>
            {{form.email|as_crispy_field}}
            <br>
            {{form.phone|as_crispy_field}}
            <br>
            {{form.location|as_crispy_field}}
            <br>
            {{form.formula|as_crispy_field}}
            <br>
            {{form.notes|as_crispy_field}}
            <br>
            {{form.price|as_crispy_field}}

            <br>
            <br>

            <a href="{% url 'dashboard' %}"  class="btn btn-secondary w-100 btn-block p-2">Cancel</a>
            
            <br>
            <br>
            
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Add Client</button>

        </form>
    </div>

{% endblock %}