{% extends 'base.html' %}

{% block content %}

    <!-- <body>
        <br>
        <br>

        <div class="text-center">
            <h3>ProjectX...Management at its finest!</h3>
            <br>

            <h5>Keep track of your clients effectively!</h5>
            <hr>
            <br>

            <a href="{% url 'account_signup' %}" type="button" class="btn btn-primary">Create your account</a>
        </div>

    </body> -->

    <div class="row text-center">
        <div class="col-12">
            <h1 id="stylelink-header">
                Style is your craft.<br>
                <span class="text-primary">Simplify it</span> with Stylelink.
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="fs-4 text-center">Effortless client management.
                Organize details, streamline communication, and grow your business with ease.</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <a href="{% url 'account_signup' %}" type="button" class="btn btn-primary">create your account</a>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <br>
            <img src="https://placehold.co/600x400" alt="">
            <br>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <img src="https://placehold.co/200x100" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/200x100" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/200x100" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/200x100" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/200x100" alt="">
        </div>
        <div class="col-2">
            <img src="https://placehold.co/200x100" alt="">
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-6">
            <img src="https://placehold.co/40x40" alt="">
        </div>
        <div class="col-md-6">
            <p>some text</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://placehold.co/40x40" alt="">
        </div>
        <div class="col-md-6">
            <p>some text</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://placehold.co/40x40" alt="">
        </div>
        <div class="col-md-6">
            <p>some text</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://placehold.co/40x40" alt="">
        </div>
        <div class="col-md-6">
            <p>some text</p>
        </div>
    </div> -->

{% endblock %}