{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}

    <div class="container bg-dark p-5 my-4 form-layout">
        <h3>Update client</h3>
        <h6>Update your client's info down below</h6>
        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Update client</button>

        </form>
    </div>

{% endblock%}