{% extends 'base.html' %}


{% block content %}

    <div class="card">
        <br>
        <strong>&nbsp; &nbsp; {{client.name}}</strong>
        <hr>
        <div class="card-body">
            <p><strong>ID: </strong> {{ client.id }} </p>
            <p><strong>Email: </strong> {{ client.email }} </p>
            <p><strong>Phone number: </strong> {{ client.phone }} </p>
            <p><strong>Location: </strong> {{ client.location }} </p>
            <p><strong>Formula: </strong> {{ client.formula }} </p>
            <p><strong>Notes: </strong> {{ client.notes }} </p>
            <p><strong>Price: </strong> {{ client.price }} </p>
            <p><strong>Creation date: </strong> {{ client.creation_date }} </p>
        </div>
    </div>

    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back <i class="fa-solid fa-arrow-left"></i></a>
    &nbsp;
    <a href="{% url 'update-client' client.id %}" class="btn btn-info">Edit Client <i class="fa-solid fa-edit"></i></a>
    &nbsp;
    <a href="{% url 'delete-client' client.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this client?')">Delete Client <i class="fa-solid fa-trash"></i></a>
   

{% endblock %}