/* UNIVERSAL STYLES */

html, body {
  height: 100%;
  margin: 0; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

hr {
  opacity: 0.5;
  border-bottom: 1px ridge;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%; /* Ensure the wrapper takes up at least the full viewport */
}

.content {
  flex: 1; /* Push the footer to the bottom */
}

/* CLASS STYLES */

/* Forms and Buttons */
.form-layout {
  max-width: 750px;
  border-radius: 15px;
}

.btn-slink-add {
  margin-bottom: 1rem;
}

.btn-xl {
  padding: 1.25rem 2rem; 
  font-size: 1.5rem;    
  border-radius: 0.5rem;
}

/* Messages and Alerts */
.message-text {
  color: white;
}

/* Clickable Rows */
.clickable-row {
  cursor: pointer;
}

/* Testimonials Section */
.testimonials-wrapper {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden;
  scroll-behavior: smooth; /* Smooth scrolling */
  padding-bottom: 10px; /* Avoid overlapping with a scrollbar */
  white-space: nowrap; /* Prevent line wrapping */
  margin: 0 -15px; /* Match Bootstrap container padding to keep it aligned */
}

.testimonials-wrapper::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.testimonials-wrapper {
  scrollbar-width: none; /* Disable scrollbar visibility for Firefox */
}

#testimonials .testimonial {
  height: 150px;
  padding: 1rem;
}

/* Images and Overlays */
.image-container {
  position: relative;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 1;  /* Place it above the image */
}

.content-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Place it above the overlay */
  color: white;
  text-align: center;
}

/* BENEFITS SECTION */
.benefits-container {
  min-width: 850px;
}

.benefit-icon-wrapper {
  min-width: 70px;
}

/* ID STYLES */

/* Headers */
#stylelink-header {
  font-size: 4rem;
}

#stylelink-header-mobile {
  font-size: 3rem;
}

/* Forms */
#div_id_login, 
#div_id_password, 
#div_id_remember, 
#div_id_username, 
#div_id_password1, 
#div_id_password2, 
#div_id_email {
  margin-bottom: 1rem;
}

#client-form #div_id_name label,
#client-form #div_id_phone label,
#client-form #div_id_email label,
#client-form #div_id_location label,
#client-form #div_id_formula label,
#client-form #div_id_notes label,
#client-form #div_id_price label {
  font-size: 1.7rem;
}

#client-form #div_id_name input,
#client-form #div_id_phone input,
#client-form #div_id_email input,
#client-form #div_id_location input,
#client-form #div_id_formula input,
#client-form #div_id_notes input,
#client-form #div_id_price input {
  height: 60px;
}

#hint_id_password1 ul {
  margin-top: 1rem;
}

#div_id_formula textarea, 
#div_id_notes textarea {
  height: 100px !important;
}

#client-form #div_id_email {
  margin-bottom: 0;
}

/* Login and Signup Forms */
#login_form, 
#signup_form {
  border: 1px solid;
  padding: 2rem;
}

/* Dashboard and Search */
#dashborad-title {
  margin-bottom: revert !important;
}

#search-group {
  height: 3rem;
}

/* View Client */
#view-client-wrapper {
  max-width: 550px;
  margin: auto;
}

/* Footer */
.footer-hr {
  margin: 1rem 0;
}

/* Header Image */
#header-image {
  width: 100%;
}

/* Testimonials Section */
#testimonials {
  scroll-padding-left: 150px; 
  scroll-padding-right: 0; 
}