
hr {
  opacity: 0.5;
  border-bottom: 1px ridge;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-layout {
  max-width: 700px;
  border-radius: 15px;
}