{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stylelink - Simple Client Manager</title>

    <!-- bootstrap bootswatch morph theme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-quartz.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href=" {% static 'favicon/favicon-32x32.png'%} ">
    <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'favicon/favicon-16x16.png'%} ">
    {% comment %}
    <link rel="manifest" href=" {% static 'site.webmanifest' %} "> {% endcomment %}
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand fw-bolder fs-2 text-primary " href="{% url 'home' %}"><span class="thin">stylelink</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-4 {% if request.path == '/dashboard' %}active{% endif %}"
                                    aria-current="page" href="{% url 'dashboard' %}"><i class="fa-solid fa-home"></i>&nbsp;&nbsp;Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-4 {% if request.path == logout_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_logout' %}"><i
                                        class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-4 {% if request.path == signup_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_signup' %}"><i
                                        class="fa-solid fa-user-plus"></i>&nbsp;Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-4 {% if request.path == login_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_login' %}"><i
                                        class="fa-solid fa-right-from-bracket"></i>&nbsp;Login</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% if user.is_authenticated %}
                        <span class="navbar-text fs-6 text-body-tertiary fst-italic">You are logged in as <span
                                class="text-muted fw-bold"> {{ user }} </span></span>
                        {% else %}
                        <span class="navbar-text fs-6 text-body-tertiary">You are not logged in</span>
                        {% endif %}
                    </div>
                </div>
            </nav>

            <div class="container">
                <br>
                <!-- Notification messages -->
                {% for message in messages %}
                
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                        <p id="message-timer" class="alert alert-success float-center text-center message-text">
                            <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{message}}
                        </p>

                    {% endif %}

                {% endfor %}


                {% block content%}

                <!-- content goes in here -->

                {% endblock %}


            </div>
        </div>

        <footer class="pb-2">
            <div class="container text-center">
                <hr class="footer-hr">
                <p class="mb-0 fs-6 text-muted">Made in Ireland <span class="fs-6">&#127470;&#127466;</span></p>
                <p class="mb-0 fs-6 text-muted">&copy; 2024 Stylelink. All Rights Reserved.</p>
            </div>
        </footer>
        </div>

        <script src="{% static 'js/app.js' %}"></script>

        <!-- bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
        <!-- font-awesome kit -->
        <script src="https://kit.fontawesome.com/bcfb66a79c.js" crossorigin="anonymous"></script>
</body>

</html>